body{
    min-width: 700px;
    background: url(../static/images/s2SFwKp.jpg);
}

.collapse{
    background: rgba(0, 58, 112, .6);
    display: flex;
    justify-content: center;
}

.collapse a{
    color: white;
    font-size: 50px;
    font-family: "Pokemon Hollow", sans-serif;
    text-decoration: none;
}

.collapse a:hover{
    font-family: "Pokemon Solid", sans-serif;
    background-color: rgba(16,17,18, .6);
    text-shadow: rgb(61, 125, 202) -5px 2px;
    color: rgb(255, 203, 5) ;
    padding: 15px;

}